.input-group

  input.form-control(
  uib-datepicker-popup='yyyy-MM-dd'
  alt-input-formats='vm.altInputFormats'
  ng-model='vm.dateInput'
  ng-class='{invalid: !vm.dateInputValid}'
  datepicker-options='vm.datepickerOptions'
  is-open='datepickerPopupOpened'
  datepicker-append-to-body='true'
  no-show-button-bar='false'
  on-open-focus='false'
  ng-click='datepickerPopupOpened=!datepickerPopupOpened'
  ng-required='vm.ngRequired'
  current-text='false'
  close-text='{{ vm.closeText }}'
  clear-text='{{ vm.clearText }}'
  placeholder='{{ vm.placeholder }}'
  maxlength='10'
  sa-enter-key='datepickerPopupOpened=false'
  ng-blur='vm.onInputBlur($event)'
  )

  span.input-group-btn
    button.btn.btn-default.sab-date-picker-toggle(
    ng-click='datepickerPopupOpened = !datepickerPopupOpened'
    )
      i.glyphicon.glyphicon-calendar
